
	.con
	{
		height:auto;
		width:auto;
	}
	.success
	{
		font-size:24px;
		color:#999;
	}
	h2
	{
		color:#FFF;
		margin-top:5;
	}
	input[type="textarea"]
	{
		width:80;
		height:18;
		font-size:10px;
	}
	p
	{
		text-align:center;
	}
	.text
	{
		font-size:15;
		color:#FFF;
	}
	input[type="radio"]
	{
		cursor:pointer;
	}
	input[type="radio"] + label:hover
	{
		cursor:pointer;
		color:#396;
	}
	input[type="text"]
	{
		border-color:#666;
		font-size:15;
	}
	input[type="text"]:focus
	{
		border-color:#666;
		font-size:15;
		background-color:#E5E5E5;

	}
	input[type="text"]:hover
	{
		border-color:#00F;
		font-size:15;
		background-color:#FFC;
		cursor:pointer;
	}
	input[type="password"]
	{
		border-color:#666;
		font-size:15;
	}
	input[type="password"]:focus
	{
		border-color:#666;
		font-size:15;
		background-color:#E5E5E5;
	}
	input[type="password"]:hover
	{
		border-color:#00F;
		font-size:15;
		background-color:#FFC;
		cursor:pointer;
	}
	input[type="email"]
	{
		border-color:#666;
		font-size:15;
	}
	input[type="email"]:focus
	{
		border-color:#666;
		font-size:15;
		background-color:#E5E5E5;

	}
	input[type="email"]:hover
	{
		border-color:#00F;
		font-size:15;
		background-color:#FFC;
		cursor:pointer;
	}
	input[type="tel"]
	{
		border-color:#666;
		font-size:15;
	}
	input[type="tel"]:focus
	{
		border-color:#666;
		font-size:15;
		background-color:#E5E5E5;

	}
	input[type="tel"]:hover
	{
		border-color:#00F;
		font-size:15;
		background-color:#FFC;
		cursor:pointer;
	}
	input[type="number"]
	{
		border-color:#666;
		font-size:15;
	}
	input[type="number"]:focus
	{
		border-color:#666;
		font-size:15;
		background-color:#E5E5E5;

	}
	input[type="number"]:hover
	{
		border-color:#00F;
		font-size:15;
		background-color:#FFC;
		cursor:pointer;
	}
	select
	{
		border-color:#666;
		font-size:15;
	}
	select:focus
	{
		border-color:#666;
		font-size:15;
		background-color:#E5E5E5;

	}
	select:hover
	{
		border-color:#00F;
		font-size:15;
		background-color:#FFC;
		cursor:pointer;
	}
	input[type="submit"]
	{
		width:450; 
		height:auto;
		font-size:28;
	}
	input[type="submit"]:hover
	{
		background-color:#CCC;
		cursor:pointer;
	}
	input[type="button"]:hover
	{
		background-color:#CCC;
		cursor:pointer;
	}
	input[type="button"]
	{
		width:250;
	}
	sup
	{
		color:red;
		font-size:15px;
	}
	sub
	{
		visibility:hidden;
		font-size:15px;
	}
	.regf
	{
		margin-bottom:15;
		transition-delay:0;
	}
	.regf:hover
	{
		margin-bottom:15;
		cursor:pointer;
		color:#CCC;
	}